<div class="header">
  <div>
    <img class="logo" src="../../assets/logo.png" alt="Logo" />
    <h1>VIDEO COURSE</h1>
  </div>
  <div class="user-info" *ngIf="authenticationService.isAuthenticated">
    <span>{{authenticationService.user.firstName}}</span>
    <button mat-button class="log-off-btn" (click)="authenticationService.logout()">Log off</button>
  </div>
  <div class="user-info" *ngIf="!authenticationService.isAuthenticated">
    <button mat-button class="login">User login</button>
  </div>

</div>
