.field {
  width: 100%;
}

ul {
  list-style: none;
  li {
    padding: 3px;
    cursor: pointer;
  }
}

ul.find {
  position: absolute;
  z-index: 10;
  background-color: white;
  border: 1px solid silver;
  
  li:hover {
    background-color: skyblue;
  }
}

ul.selected {
  li {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid silver;


    button {
      margin-left: -5px;
    }
  }
}

.error {
  font-size: 12px;
  color: red;
  margin-left: 150px;
}