<form class="form" [formGroup]="form" *ngIf="course" (ngSubmit)='onSave()'>

  <mat-form-field appearance="outline" class="field">
    <mat-label>Title:</mat-label>
    <span *ngIf="nameControl.touched && nameControl.errors?.required" class="error">
      Date is required.
    </span>
    <input matInput formControlName="name" name='name'>
  </mat-form-field>

  <mat-form-field appearance="outline" class="field">
    <mat-label>Description:</mat-label>
    <textarea formControlName="description" matInput placeholder="Course description" name='description'></textarea>
  </mat-form-field>

  <app-date formControlName="date" [formGroup]='form'></app-date>  

  <app-duration formControlName="length"></app-duration> 

  <app-authors formControlName="authors"></app-authors> 
  
  <button mat-raised-button color="accent" type="submit" [disabled]="!form.valid">Save</button>
  <button mat-raised-button (click)='onCancel()'>Cancel</button>

</form>

<app-spinner-overlay *ngIf='loading'></app-spinner-overlay>
