.footer {
  height: 65px;
  margin-top: -65px;
  width: 100%;
  background-color:  rgb(78, 75, 75);
}

.copyright {
  margin-top: 15px;
  color: white;
  width: 400px;
  display: block;
  float: right;
  margin-right: 40px;
  font-size: 20px;
}

