.search-input {
  margin: 25px 30px 15px 60px;
  width: 30%;
}

.search-btn {
  background-color: lightgreen;
  border-radius: 5px;
}

.add-btn {
  margin-top: 20px;
  margin-left: 80%;
  background-color: lightblue;
  border-radius: 5px;
}

