.main-section {
  width: 100%;
  background-color: rgb(245, 243, 243);
  padding-bottom: 40px;
}

.load-btn {
  height: 50px;
  width: 90%;
  background-color: white;
  color: blue;
  text-decoration: underline;
  border: none;
  display: block;
  margin: 0 auto;
}
