.course {
  width: 90%;
  height: 230px;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 40px;
  overflow: hidden;
  display: block;
}

h3 {
  padding: 20px 20px 0 20px;
  display: inline-block;
  width: 40%;
}

.time {
  display: inline-block;
}

.edit-btn, .delete-btn {
  background-color: #65c9eb;
  border-radius: 5px;
  border: none;
  color: white;
  width: 100px;
  height: 40px;
}

.edit-btn {
  margin-right: 30px;
}

.duration {
  margin-left: 50px;
}

.description, .btns {
  display: inline-block;
  margin: 15px 15px 25px 15px;
}

.description {
  width: 75%;
}

.btns {
  width: 20%;
}
