<div class="course" [ngClass]="{'premium': course.topRated}" [appSetCourseBorder]="creationDate">
  <div class="course-header">
    <div>
      <h4 class="course-title">{{course.title | uppercase}}</h4>
      <div *ngIf="course.topRated" class="top-rated">
        <i class="fa fa-star"></i>
      </div>
    </div>
    <div class="time">
      <span class="creation-date">{{course.creationDate | date: 'mediumDate'}}</span>
      <span class="duration">{{course.duration | duration}}</span>
    </div>
  </div>
  <div class="block-wrapper">
    <div class="description">
      {{course.description}}
    </div>
    <div class="btns">
      <button class="edit-btn">Edit</button>
      <button class="delete-btn" (click)="openDialog()">Delete</button>
    </div>
  </div>
</div>
